@page "/CriarResultadosCorrida"
@using ClassLibrary_GT_RT;
@using GT_RT_FrontEnd.Interfaces;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Components.Forms;
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager
@using GT_RT_FrontEnd.Components;

<ModalDelete @ref="DeleteModal" Title="Confirmação" Message="Tem certeza de que deseja excluir este resultado de corrida?" OnConfirm="DeleteResultadoCorrida" />


<h2>Criar novo resultado de corrida</h2>
<hr style="border-top: 20px solid #000;">
<EditForm Model="@NewResultadoCorrida" OnValidSubmit="CreateNewResultadoCorrida">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <div class="form-group">
            <label for="id_corrida">Selecione a Corrida:</label>
            <InputSelect id="id_corrida" class="form-control" @bind-Value="@NewResultadoCorrida.Id_corrida">
                @foreach (var corrida in Corridas)
                {
                    <option value="@corrida.Id_corrida">@corrida.Nome_Corrida</option>
                }
            </InputSelect>
        </div>

        <div class="col-sm-4">
            <label for="posicaoFinal">Posição Final:</label>
            <InputNumber id="posicaoFinal" class="form-control" @bind-Value="@NewResultadoCorrida.PosicaoFinal" />
        </div>

        <div class="col-sm-4">
            <label for="pilotoId">Piloto:</label>
            <select id="pilotoId" class="form-control" @bind="NewResultadoCorrida.Id_piloto">
                @foreach (var piloto in PilotosData)
                {
                    <option value="@piloto.Id_piloto">@piloto.Nome</option>
                }
            </select>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Criar</button>
</EditForm>

@if (showAlert)
{
    <div class="alert alert-primary" role="alert">
        Resultado criado com sucesso!
    </div>


    showAlert = false;
}

<hr style="border-top: 20px solid #000;">

<h2>Resultados de Corrida</h2>
  

<div class="form-group col-sm-4">
    <label for="filtroCorrida">Filtrar por Corrida:</label>
    <select id="filtroCorrida" class="form-control" @bind="@filtroCorridaId">
        <option value="">Todos</option>
        @foreach (var corrida in Corridas)
        {
            <option value="@corrida.Id_corrida">@corrida.Nome_Corrida</option>
        }
    </select>
    <button class="btn btn-primary" @onclick="FiltrarResultadosCorrida">Filtrar</button>
</div>
@if (ResultadosCorridaData is not null && ResultadosCorridaData.Any())
{
    <table>
        <thead>
            <tr>
                <th style="width: 150px;">Nome da Corrida</th>
                <th style="width: 150px;">ID da Corrida</th>
                <th style="width: 150px;">ID do Piloto</th>
                <th style="width: 200px;">Nome do Piloto</th>
                <th style="width: 150px;">Posição Final</th>
                <th style="width: 100px;">Pontos</th>
                <th style="width: 100px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resultadoCorrida in ResultadosCorridaDataFiltrados)
            {
                <tr>
                    <td style="width: 150px; padding: 20px;">
                        @{
                            var corrida = Corridas.FirstOrDefault(c => c.Id_corrida == resultadoCorrida.Id_corrida);
                            if (corrida != null)
                            {
                                @corrida.Nome_Corrida
                            }
                        }
                    </td>
                    <td style="width: 150px; padding: 20px;">@resultadoCorrida.Id_corrida</td>
                    <td style="width: 200px; padding: 20px;">@resultadoCorrida.Id_piloto</td>
                    <td style="width: 150px; padding: 20px;">@resultadoCorrida.Nome_Piloto</td>
                    <td style="width: 100px; padding: 20px;">@resultadoCorrida.PosicaoFinal</td>
                    <td style="width: 100px; padding: 20px;">@resultadoCorrida.Pontos</td>
                    <td>
                        @*<button class="btn btn-danger" @onclick="() => DeleteResultadoCorrida(resultadoCorrida.Id_ResultadoCorrida)">Deletar</button>*@
                        @*<button class="btn btn-danger" @onclick="() => DeleteModal.OpenModal()">Deletar</button>*@
                        <button class="btn btn-danger" @onclick="() => DeleteModal.OpenModal(resultadoCorrida.Id_ResultadoCorrida)">Deletar</button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum resultado de corrida encontrado.</p>
}



@code {
    List<ResultadoCorrida> ResultadosCorridaData { get; set; } = new();
    ResultadoCorrida NewResultadoCorrida { get; set; } = new ResultadoCorrida();
    List<Corrida> Corridas { get; set; } = new();
    List<Piloto> PilotosData { get; set; } = new();
    List<ResultadoCorrida> ResultadosCorridaDataFiltrados { get; set; } = new();
    public int filtroCorridaId { get; set; }
    bool showAlert = false;
    public ModalDelete DeleteModal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await WebServiceAPI.GetPilotos();
            PilotosData = response.Where(p => !p.IsDeleted).ToList();

            var response1 = await WebServiceAPI.GetResultadoCorrida();
            ResultadosCorridaData = response1.Where(p => !p.IsDeleted).ToList();

            Corridas = await WebServiceAPI.GetCorridas();
            FiltrarResultadosCorrida();

        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }


    private async Task CreateNewResultadoCorrida()
    {
        try
        {
            NewResultadoCorrida.Nome_Piloto = PilotosData.FirstOrDefault(c => c.Id_piloto == NewResultadoCorrida.Id_piloto).Nome;
            NewResultadoCorrida.NickName = PilotosData.FirstOrDefault(c => c.Id_piloto == NewResultadoCorrida.Id_piloto).Nickname;
            var response = await WebServiceAPI.CreateResultadoCorrida(NewResultadoCorrida);
            ResultadosCorridaData.Add(response);
            NewResultadoCorrida = new ResultadoCorrida();

            if (response is not null)
            {
                showAlert = true;
            }
            FiltrarResultadosCorrida();

        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }



    private async Task DeleteResultadoCorrida(int id)
    {
        DeleteModal.CloseModal();
        try
        {
            await WebServiceAPI.DeleteResultadoCorrida(id);
            ResultadosCorridaData.RemoveAll(p => p.Id_ResultadoCorrida == id);
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
        FiltrarResultadosCorrida();
    }

    private void FiltrarResultadosCorrida()
    {
        if (filtroCorridaId == 0)
        {
            ResultadosCorridaDataFiltrados = ResultadosCorridaData;
        }
        else
        {
            ResultadosCorridaDataFiltrados = ResultadosCorridaData.Where(r => r.Id_corrida == filtroCorridaId).ToList();
        }
    }
}
