@page "/EditarCompeticao/{id:int}"

@using ClassLibrary_GT_RT;
@using GT_RT_FrontEnd.Interfaces;
@using System.Diagnostics;
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms
@using GT_RT_FrontEnd.Components
@inject Utilities.ILocalStorage LocalStorage

@if (!isAdmin)
{
    <p>Acesso não autorizado.</p>
}
else
{
<Modal1 @ref="SuccessModal" Title="Sucesso" Message="Competicao editada com sucesso!" />

<h2>Editar Competicao</h2>

@if (CompeticaoData is not null)
{
    <EditForm Model="@CompeticaoData" OnValidSubmit="UpdateCompeticao">
        <DataAnnotationsValidator />
        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

        <div class="form-group col-sm-4">
            <label for="nome">Nome:</label>
                <InputText id="nome" class="form-control bg-transparent" style="color: white;" @bind-Value="@CompeticaoData.Nome" />
        </div>

            <div class="form-group col-sm-4">
            <label for="descricao">Descricao:</label>
                <InputTextArea id="descricao" class="form-control bg-transparent" style="color: white;" @bind-Value="@CompeticaoData.Descricao" />
        </div>

            <div class="form-group col-sm-4">
                <label for="foto">Foto:</label>
                <InputFile id="foto" class="form-control bg-transparent" OnChange="HandleFileChange" />
            </div>

            <div class="form-group col-sm-2">
            <label for="categoriaId">Categoria:</label>
                <select id="categoriaId" class="form-control bg-transparent" style="color: white;" @bind="@CompeticaoData.Id_Piloto_Categoria" @oninput="UpdateNomeCategoria">
                @foreach (var categoria in ListaCategoriasPiloto)
                {
                        <option class="bg-black" value="@categoria.Id_Piloto_Categorias">@categoria.Nome_Piloto_Categoria</option>
                }
            </select>
        </div>



            <button type="submit" class="btn btn-success">Atualizar</button>
    </EditForm>
}
@if (showAlertError)
{
    <div class="alert alert-danger col-sm-4" role="alert">
        @showAlertMensage
    </div>
    showAlertError = false;
}
}
@code {
    [Parameter]
    public int Id { get; set; }

    Competicao CompeticaoData { get; set; } = new();

    public List<Piloto_Categorias> ListaCategoriasPiloto { get; set; } = new();
    private bool isAdmin = false;

    Modal1 SuccessModal { get; set; }
    bool showAlertError = false;
    public string showAlertMensage { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var username = await LocalStorage.GetStringAsync("user");
            var password = await LocalStorage.GetStringAsync("password");

            isAdmin = username == "ADMINXXX" && password == "XXX123";

            if (isAdmin)
            {
                try
                {
                    CompeticaoData = await WebServiceAPI.GetCompeticao(Id);
                    ListaCategoriasPiloto = await WebServiceAPI.GetCategorias();
                }
                catch (Exception ex)
                {
                    Debug.WriteLine(ex);
                    throw;
                }
            }

            StateHasChanged();
        }
    }
    //protected override async Task OnInitializedAsync()
    //{
    //    try
    //    {
    //        CompeticaoData = await WebServiceAPI.GetCompeticao(Id);
    //        ListaCategoriasPiloto = await WebServiceAPI.GetCategorias();
    //    }
    //    catch (Exception ex)
    //    {
    //        Debug.WriteLine(ex);
    //        Console.WriteLine($"Erro na chamada da API: {ex.Message}");
    //        throw;
    //    }
    //}

    public async void UpdateCompeticao()
    {
        try
        {
            if (string.IsNullOrEmpty(CompeticaoData.Nome))
            {
                showAlertMensage = "Inserir nome para Competicao";
                showAlertError = true;
                return;
            }
            var newCompeticao = new Competicao
            {
                Nome = CompeticaoData.Nome,
                Descricao = CompeticaoData.Descricao,
                Id_Piloto_Categoria = CompeticaoData.Id_Piloto_Categoria,
                Foto = CompeticaoData.Foto,
                Nome_Categoria = CompeticaoData.Nome_Categoria
            };

            var response = await WebServiceAPI.UpdateCompeticao(newCompeticao, Id);

            if (response != null)
            {
                SuccessModal.OpenModal();
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }
    private void UpdateNomeCategoria(ChangeEventArgs e)
    {
        int categoriaId = Convert.ToInt32(e.Value);

        var categoria = ListaCategoriasPiloto.FirstOrDefault(c => c.Id_Piloto_Categorias == categoriaId);

        if (categoria != null)
        {
            CompeticaoData.Nome_Categoria = categoria.Nome_Piloto_Categoria;
        }
    }

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using (var stream = file.OpenReadStream())
        {
            using (var memoryStream = new MemoryStream())
            {
                await stream.CopyToAsync(memoryStream);
                CompeticaoData.Foto = memoryStream.ToArray();
            }
        }
    }

}