@page "/EditarCorrida/{id:int}"
@using ClassLibrary_GT_RT;
@using GT_RT_FrontEnd.Interfaces;
@using System.Diagnostics;
@using GT_RT_FrontEnd.Components;
@inject IWebServiceAPI WebServiceAPI;
@inject NavigationManager NavigationManager;
@inject Utilities.ILocalStorage LocalStorage

@if (!isAdmin)
{
    <p>Acesso não autorizado.</p>
}
else
{



<h2>Editar Corrida</h2>

@if (CorridaData != null)
{
    <h3>Editar Corrida</h3>

    <EditForm Model="@CorridaData" OnValidSubmit="UpdateCorrida">
        <DataAnnotationsValidator />
            <Microsoft.AspNetCore.Components.Forms.ValidationSummary />



            <div class="form-group col-sm-4">
            <label for="Nome_Corrida">Nome_Corrida:</label>
                <InputText id="data" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.Nome_Corrida" />
        </div>

            <div class="form-group col-sm-4">
                <label for="id_competicao">Competicao:</label>
                <InputSelect id="id_competicao" class="form-control bg-transparent text-white border-1" @bind-Value="@CorridaData.Id_competicao">
                    <option class="bg-black" value="">Selecionar Competicao</option>
                    @foreach (var competicao in CompeticoesData)
                    {
                        <option class="bg-black" value="@competicao.Id">@competicao.Nome</option>
                    }
                </InputSelect>
            </div>

            <div class="form-group col-sm-2">
                <label for="data">Data:</label>
                <InputDate id="data" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.Data" />
            </div>

            <div class="form-group col-sm-2">
            <label for="circuito">Circuito:</label>
                <InputText id="circuito" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.Circuito" />
        </div>

            <div class="form-group col-sm-2">
            <label for="carrosPermitidos">Carros Permitidos:</label>
                <InputText id="carrosPermitidos" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.CarrosPermitidos" />
        </div>

            <div class="form-group col-sm-2">
            <label for="tipo_Pneus">Tipo de Pneus:</label>
                <InputText id="tipo_Pneus" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.Tipo_Pneus" />
        </div>
            

            <div class="form-group col-sm-2">
            <label for="numeroVoltas">Número de Voltas:</label>
                <InputNumber id="numeroVoltas" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.NumeroVoltas" />
        </div>

            <div class="form-group col-sm-2">
            <label for="numeroMinutos">Número de Minutos:</label>
                <InputNumber id="numeroMinutos" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.NumeroMinutos" />
        </div>



            <div class="form-group col-sm-4">
                <label for="descricao">Descricao:</label>
                <InputTextArea id="descricao" class="form-control bg-transparent" style="color: white;" rows="5" @bind-Value="@CorridaData.Descricao" />
            </div>


            <div class="form-group col-sm-4">
                <label for="VideoYoutube">Link Video Youtube:</label>
                <InputText id="VideoYoutube" class="form-control bg-transparent" style="color: white;" @bind-Value="@CorridaData.VideoYoutube" />
            </div>
            <Modal1 @ref="SuccessModal" Title="Sucesso" Message="Corrida atualizada com sucesso!" />
        <button type="submit" class="btn btn-success" @onclick="ModifyVideoLink">Atualizar</button>
    </EditForm>
}
else
{
    <p>Nenhuma corrida selecionada para edicao.</p>
}

}
@code {
    [Parameter]
    public int Id { get; set; }

    Corrida CorridaData { get; set; } = new();
    Modal1 SuccessModal { get; set; }
    private bool isAdmin = false;
    List<Competicao> CompeticoesData { get; set; } = new();



    protected override async Task OnInitializedAsync()
    {
        try
        {
            var username = await LocalStorage.GetStringAsync("user");
            var password = await LocalStorage.GetStringAsync("password");

            isAdmin = username == "ADMINXXX" && password == "XXX123";

            if (isAdmin)
            {
                try
                {
                    CorridaData = await WebServiceAPI.GetCorrida(Id);

                    var response1 = await WebServiceAPI.GetCompeticoes();
                    CompeticoesData = response1.Where(p => !p.IsDeleted).ToList();
                }
                catch (Exception ex)
                {
                    Debug.WriteLine(ex);
                    throw;
                }
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        var username = await LocalStorage.GetStringAsync("user");
    //        var password = await LocalStorage.GetStringAsync("password");

    //        isAdmin = username == "ADMINXXX" && password == "XXX123";

    //        if (isAdmin)
    //        {
    //            try
    //            {
    //                CorridaData = await WebServiceAPI.GetCorrida(Id);
                   
    //                var response1 = await WebServiceAPI.GetCompeticoes();
    //                CompeticoesData = response1.Where(p => !p.IsDeleted).ToList();
    //            }
    //            catch (Exception ex)
    //            {
    //                Debug.WriteLine(ex);
    //                throw;
    //            }
    //        }

    //        StateHasChanged();
    //    }
    //}
    //protected override async Task OnInitializedAsync()
    //{
    //    try
    //    {
    //        CorridaData = await WebServiceAPI.GetCorrida(Id);
    //    }
    //    catch (Exception ex)
    //    {
    //        Debug.WriteLine(ex);
    //        Console.WriteLine($"Erro na chamada da API: {ex.Message}");
    //        throw;
    //    }
    //}

    private void ModifyVideoLink()
    {
        if (!string.IsNullOrEmpty(CorridaData.VideoYoutube))
        {
            CorridaData.VideoYoutube = ModifyYouTubeLink(CorridaData.VideoYoutube);
        }
    }

    private string ModifyYouTubeLink(string youtubeLink) 
    //Mais tarde arranjar uma maneira geral de conseguir cuidar de 
    // vários inputs diferentes, pois pode haver maiores enganos no input 
    // (por exemplo o input pode ser utube.com/xxxxx)
    {
        const string embedBaseUrl = "https://www.youtube.com/embed/";
        const string watchBaseUrl = "https://www.youtube.com/watch";
        const string liveBaseUrl = "https://www.youtube.com/live/";

        if (youtubeLink.StartsWith("www"))
        {
            youtubeLink = "https://" + youtubeLink;
        }
        else if (youtubeLink.StartsWith("youtube.com/"))
        {
            youtubeLink = "https://www." + youtubeLink;
        }

        if (youtubeLink.Contains(watchBaseUrl))
        {
            var uri = new Uri(youtubeLink);
            var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
            string videoId = query.Get("v");

            return embedBaseUrl + videoId;
        }
        else if (youtubeLink.Contains(liveBaseUrl))
        {
            string videoId = youtubeLink.Substring(liveBaseUrl.Length);

            return embedBaseUrl + videoId;
        }

        return youtubeLink;
    }

    public async void UpdateCorrida()
    {
        try
        {
            var updatedCorrida = new Corrida
                {
                    Circuito = CorridaData.Circuito,
                    Nome_Corrida = CorridaData.Nome_Corrida,
                    Data = CorridaData.Data,
                    Id_competicao = CorridaData.Id_competicao,
                    CarrosPermitidos = CorridaData.CarrosPermitidos,
                    Tipo_Pneus = CorridaData.Tipo_Pneus,
                    NumeroVoltas = CorridaData.NumeroVoltas,
                    NumeroMinutos = CorridaData.NumeroMinutos,
                    Id_Resultado = CorridaData.Id_Resultado,
                    IsDeleted = CorridaData.IsDeleted,
                    VideoYoutube = CorridaData.VideoYoutube
                };
            var response = await WebServiceAPI.UpdateCorrida(updatedCorrida, Id);

            if (response != null)
            {
                SuccessModal.OpenModal();
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }

}