@page "/Corrida-details/{id:int}"

@using ClassLibrary_GT_RT
@using GT_RT_FrontEnd.Interfaces
@using System.Diagnostics
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager


@if (Corrida != null)
{
    <h3>@Corrida.Nome_Corrida</h3>

    <p><strong>Competicao:</strong> <a href="@($"/competicao-details/{Corrida.Id_competicao}")">@ListaCompeticoes.Where(y => y.Id == Corrida.Id_competicao).FirstOrDefault().Nome</a></p>
    <p><strong>Data:</strong> @Corrida.Data?.ToString("dd/MM/yyyy")</p>
    <p><strong>Carros Permitidos:</strong> @Corrida.CarrosPermitidos</p>
    <p><strong>Tipo de Pneus:</strong> @Corrida.Tipo_Pneus</p>
    <p><strong>Número de Voltas:</strong> @Corrida.NumeroVoltas</p>
    <p><strong>Número de Minutos:</strong> @Corrida.NumeroMinutos</p>
    <p><strong>Descricao:</strong> @Corrida.Descricao</p>

    @if (!string.IsNullOrEmpty(Corrida.VideoYoutube))
    {
        <div class="video-container">
            <iframe src="@Corrida.VideoYoutube" frameborder="0" allowfullscreen style="width: 50%; height: 500px;"></iframe>
        </div>
    }

    <h2>Resultados da Corrida</h2>
    @if (ResultadosCorrida != null && ResultadosCorrida.Any())
    {
        <table  style="width: 50%;">
            <thead>
                <tr>
                    <th>Posicao Final</th>
                    <th>Nome</th>
                    <th>NickName</th>
                    <th>Pontos</th>
                    <th>Volta Mais Rápida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var resultado in ResultadosCorrida)
                {
                    <tr>

                        <td style="border-bottom: 1px solid black;">@resultado.PosicaoFinal</td>
                        <td style="border-bottom: 1px solid black;"><a href="/piloto-details/@resultado.Id_piloto">@resultado.Nome_Piloto</a></td>
                        <td style="border-bottom: 1px solid black;">@resultado.NickName</td>
                        <td style="border-bottom: 1px solid black;">@resultado.Pontos</td>
                        <td style="border-bottom: 1px solid black;">@(resultado.VoltaRapida ?? false ? "VMR" : "")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum resultado de corrida para esta corrida.</p>
    }

}
else
{
    <p>A corrida não foi encontrada.</p>
}



@code {
    [Parameter]
    public int Id { get; set; }
    private Corrida Corrida { get; set; }
    private List<ResultadoCorrida> ResultadosCorrida { get; set; }
    private List<Competicao> ListaCompeticoes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Corrida = await WebServiceAPI.GetCorrida(Id);
            ResultadosCorrida = (await WebServiceAPI.GetResultadoCorrida())
                                .Where(r => !r.IsDeleted)
                                .Where(r => r.Id_corrida == Corrida.Id_corrida)
                                .OrderBy(r => r.PosicaoFinal)
                                .ToList();
            ListaCompeticoes = (await WebServiceAPI.GetCompeticoes())
                                .Where(x => !x.IsDeleted)
                                .ToList();                        
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }
}